label{
 margin-bottom: 0;
}



.form-check-input {
    position: absolute;
    margin-top: 6px !important;
   left: 33% !important;
    width: 50px;
}



.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}


.section-inner {
    position: relative;
    background-color:#fff;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow:0 6px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: none
}


.block-title h3 span {
    color: #2eca7f
}

.custom-page-content .block {
    margin-bottom: 30px
}

.section-inner>.page-header {
    border: 0;
    text-align: center;
    margin-top:10px;
    background-color: #2eca7f;
    background-size: cover;

}

.page-header h2 {
    color: #fff;
    font-size:18px;
    margin-top:10px;
}

.custom-page-content .page-content {
    background-color: #fff
}

.profile-overlay{
    position: relative;
    padding: 30px;
    background: rgba(0,0,0,0.7)
    
}

.start-page-content .page-header .photo {
    max-width: 280px;
    margin-bottom: -75px;
    text-align: center
}

.start-page-content .page-header .photo img {
    border: 3px solid #fff;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 220px;
    height: 220px 
}

.start-page-content .page-header .photo img:hover {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
    transform: translateY(-9px);
    -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 18px 24px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 18px 24px rgba(0, 0, 0, .15);
    box-shadow: 0 18px 24px rgba(0, 0, 0, .15)
}

.start-page-content .page-header .title-block {
    position: relative;
    text-align: center
}

.start-page-content .page-header .title-block h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 0;
    text-align: center
}

.sp-subtitle {
    color: #fff;
    font-size: 18px;
    margin: 0
}
.user_title_input input{
    background: transparent;resize:none;color:#fff;text-align: center;margin-bottom:5px;margin-top:10px
}

.start-page-content .social-links {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px
}

.start-page-content .social-links a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: #fff;
    margin: 0 1px;
    color: #9e9e9e;
    text-align: center;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1)
}

.start-page-content .social-links a i {
    line-height: 36px;
    font-size: 16px
}

.start-page-content .page-content {
    padding-top: 45px;
    background-color: #fff
}

.start-page-content .block-title h3 {
    margin-bottom: 10px
}

.info-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none
}

.info-list li {
    margin: 6px 0;
    text-align: left
}

.info-list li .title {
    display: inline-block;
    min-width: 120px
}

.info-list li .value {
    display: inline-block;
    color: #9e9e9e
}


#edu_form,
#edu_edit_form,
#emp_edit_form,
#emp_form


{
    background: #f9f9f9ee;
    padding: 10px 24px;
    overflow: hidden;
    border: 1px solid #ccc;
    width:100%;
}


.timeline {
    border-left: 2px solid #e0e0e0;
    padding: 0px 0;
    position: relative;
}

.timeline-item {
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 2px solid #2eca7f;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2)
}

.timeline-item:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2)
}

.timeline-item:last-child {
    margin-bottom: 0
}

.timeline-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #2eca7f;
    z-index: 2
}

.timeline-item:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #2eca7f;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1
}

.timeline-item .item-title {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1.2em
}

.timeline-item .item-period {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #2eca7f;
    margin-bottom: 8px
}

.timeline-item .item-small {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #9e9e9e;
    margin-left: 5px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 1px solid #e0e0e0
}
.user_edu_action {
    right: 3%;
    top: 13%;
    z-index: 999999 !important;
    position: absolute;
    display: none;
}

.timeline:hover .user_edu_action{
  display: block;
}





.skills-info {
    overflow: hidden;
}

.skills-info h4 {
    font-size: 14px;
    line-height: 20px;
    position: relative;
    margin: 0 0 5px;
}

.skill-container {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 3px;
    margin-bottom: 30px;
    width: 100%
}

.skill-percentage {
    background-color: #2eca7f;
    height: 3px;
    padding: 0;
    width: 80%
}


.skill-percentage {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out
}

.skill_action {
    text-align: right;
    margin-top: -20px;
    display: none;

}
.skill_action a {
    display: inline-block;
    font-size: 13px;
    padding: 0px 3px;
}
.skill_action a .fa-close{
    color:#ff4444;
}

.skills-info:hover .skill_action{
    display:block;
}




@media only screen and (max-width:1032px) {
    .header .header-content {
        margin: 0 15px
    }
}


@media only screen and (max-width:991px) {
    .page-content {
        padding: 30px 30px 50px
    }
    .section-title-block {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px
    }
    .section-title {
        display: inline-block;
        position: relative;
        font-size: 38px
    }
    .section-title:after {
        display: none
    }
    .header .header-content {
        padding-top: 0
    }
    .home-page-block h2 {
        font-size: 60px
    }
}

@media only screen and (min-width:768px) {
    .fw-container {
        width: auto
    }
}

@media only screen and (max-width:768px) {
    .home-page-block h2 {
        font-size: 50px
    }
    .info-list {
        margin-top: 20px
    }
    .start-page-content .page-header {
        padding: 50px 30px;
        margin: 0
    }
    .start-page-content .page-header .photo {
        max-width: 200px;
        margin: 0 auto
    }
    .start-page-content .page-header .title-block h1 {
        margin-top: 25px;
        font-size: 44px;
        line-height: 1.2em
    }
    .start-page-content .page-header .title-block .sp-subtitle {
        margin-top: 15px
    }
    .custom-page-content .page-header {
        padding: 15px 30px
    }
    .custom-page-content .page-header h2 {
        font-size: 33px
    }
    .fw-container {
        width: auto;
        padding-left: 15px;
        padding-right: 15px
    }
}



.footer-top{
    display: none;
}
.ads{
    display: none;
}

body{
    background:#fafafa
}
li.tz.first{
    display: none;
}
li.tz.end{
    display: none;
}
